<%- include('./includes/header.ejs'); %>

<div class="container">
  <form action="/add" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" name="email" class="form-control" id="email" value="<%= emailValue %>">
      <p><%= emailErr %></p>
    </div>
    <div class="form-group">
      <label for="csvFile">CSV File</label>
      <input type="file" name="csvFile" class="form-control-file">
      <p><%= csvFileErr %></p>
    </div>
    <input type="hidden" name="id" value="<%= id %>">
    <button type="submit" class="btn btn-dark">Add To Database</button>
  </form>
</div>

<%- include('./includes/footer.ejs'); %>